body {
    background-color: #ffdca0;
    font-family: 'Lilita One', cursive;

}
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: transparent;
    color: #F05C07;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.navbar-brand {
    display: flex;
    align-items: center;
}

.logo {
    font-weight: bold;
    margin-left: 10px;
}

.navbar-links {
    list-style: none;
    display: flex;
}

.navbar-links li {
    padding: 10px;
}

.navbar-links li a {
    color: #F05C07;
    text-decoration: none;
}

/* Add more styles as needed */

