body {
    background-color: #ffdca0;
    font-family: 'Lilita One', cursive;
}
body {
    margin: 0;
    padding: 0;}

.navbar {
    background-color: transparent;
    color: #F05C07;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin-right:5px;
}

.navbar-brand {
    display: flex;
    align-items: center;
}

img {
   width: 125px;
   height: 125px;
}

.navbar-links {
    list-style: none;
    display: flex;
    height: 100px;
    width: 100px;
}

.navbar-links li {
    padding: 10px;
}

.navbar-links li a {
    color: #F05C07;
    text-decoration: none;
}


